.c-menu{
    background-color: silver;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 15px;
}